<nav class="nav">
  <ul>
    <li class="{% if page.title == 'Introduction' %}nav-active{% endif %}">
      <a href="{{ site.baseurl }}/">Introduction</a>
    </li>
    {% assign pages_list = site.pages | where: "layout","page" | where: "nav", true %}
    {% for node in pages_list %}
      <li class="{% if page.url == node.url %}nav-active{% endif %}"><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></li>
    {% endfor %}
    <li>
      <a href="{{ site.baseurl }}/print"  target="_blank">Complete Playbook (Print View)</a>
    </li>
  </ul>
</nav>
